@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}


body {
    margin: 0;
    font-family: Montserrat;
    background-color: #f3feff;
}

        .content {
            margin-left: 200px;
            padding: 20px;
            position: relative; 
        }
        
        .content h1 {
            position: absolute; 
            z-index: 1;
            top: 0; 
            left: 0; 
            right: 0; 
            font-size: 30px;
            margin: 0; 
            margin-top: 10px;
            background-color: #f3feff; 
            padding: 25px 150px 25px;
            color:#125a61; 
        }

        .contentBody h2{
            z-index: 1;
            color:#125a61;
            margin-left: 115px;
            margin-top: -30px;
            margin-bottom: 5px;
            padding: 20px;
            font-weight: 600;
            font-size: 22px;
        }

        .top-bar {
            margin-top: 100px;
        }
        
        .top-bar img{
            z-index: 1;
            position: absolute; 
            top: 15px; 
            width: 60px;
            height: 60px;
            top: 20px;
            right: 50px;border-radius: 50px;
            background-color: #4a6a78;
            border-color: transparent;
        }
        
        .top-bar button:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }
        
        .info a {
            color: white; 
            text-decoration: none; 
        }
        
        .info a:hover {
            text-decoration: underline; 
        }

        .cards {
            display: flex;
            margin-left: 130px;
            margin-right: 20px;
            justify-content: space-between;
        }
        
        .card {
            width: 22%; /* Adjust card size as needed */
            max-height: 160px;
            padding: 10px 10px;
            background-color: white;
            color: #505050;
            text-align: center;
            border-radius: 15px;
            box-shadow: 4px 4px 20px rgba(178, 180, 181, 0.5);
            position: relative;
            overflow: hidden; /* Ensure content doesn't spill out */
            display: flex;
            flex-direction: column; /* Stack elements vertically */
            align-items: center; /* Center align elements horizontally */
            justify-content: space-between; /* Evenly distribute space */
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .card a {
            text-decoration: none;
        }
        
        
        .card-header {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }
        
        .card i {
            font-size: 60px;
            width: 70px;
            height: 50px;
            
            background-color: rgba(0, 123, 255, 0.1); /* Light blue background */
            color: #007bff; /* Icon color */
            border-radius: 50%; /* Circular background */
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px; /* Space below the icon */
        }
        
        .card-header i {
            font-size: 60px;
            margin-right: 30px;
            margin-left: -20px;
            margin-top: 20px;
            color: #b2b4b5; /* Icon color */
            width: 80px; /* Fixed width to make a circle */
            height: 80px; /* Fixed height to match width */
            background-color: rgba(189, 178, 178, 0.3); /* Circle background color */
            color: rgb(174, 182, 183); /* Icon color */
            border-radius: 50%; /* Makes the icon container a circle */
            display: flex; /* Flexbox for centering the icon */
            align-items: center; /* Center icon vertically */
            justify-content: center; /* Center icon horizontally */
        }

        
        .card-header .number {
            font-size: 40px;
            font-weight: bold;
            color: #333; /* Number color */
        }

        .number1 {
            font-size: 40px;
            font-weight: bold;
            color: #61b358; /* Number color */
        }

        .number2 {
            font-size: 40px;
            font-weight: bold;
            color: #417ab0e6; /* Number color */
        }

        .number3 {
            font-size: 40px;
            font-weight: bold;
            color: #be369a; /* Number color */
        }

        .number4 {
            font-size: 40px;
            font-weight: bold;
            color: #ac3b3b; /* Number color */
        }
        
        .card .title {
            font-size: 18px;
            margin-top: 10px;
            text-align: center;
            color: #888; /* Title color */
        }
        
        .chart {
            margin-top: 20px;
            background-color: white;
            padding: 20px;
            border-radius: 5px;
        }
        .chart .legend {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
        .chart .legend div {
            margin: 0 10px;
            display: flex;
            align-items: center;
        }
        .chart .legend div span {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 5px;
        }
        .chart .legend .late span {
            background-color: #4a6a78;
        }
        .chart .legend .ontime span {
            background-color: #a0c4d4;
        }
        .chart .bar {
            display: flex;
            justify-content: space-around;
        }
        .chart .bar div {
            width: 30%;
            background-color: #4a6a78;
            border-radius: 5px;
            text-align: center;
            color: white;
            padding: 10px 0;
        }
        .chart .bar .ontime {
            background-color: #a0c4d4;
        }


