@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}


body {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    background-size: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('../img/lourdscafeBGW.png');
    background-repeat: no-repeat;
    margin-top: 290px;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-left: 600px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #333;
}

input[type="email"],
input[type="text"] {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Styling for different form sections */
.otp-form {
    display: none;
}

.left-side {
    position: absolute;
    margin-left: -500px;
    margin-top: auto;
    width: 700px;
}

.logo-left {
    max-width: 80%;
    border-radius: 100%;
}

.form-header {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

/* Styling for form messages */
.form-message {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}