@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

body {
    margin: 0;
    font-family: Montserrat;
    background-color: #f3feff;
}


.content {
    margin-left: 280px;
    padding: 20px;
    position: relative;
}

.contentBody {
    margin-left: 30px;
    padding: 20px;
}

.content h1 {
    position: absolute; 
    z-index: 1;
    top: 0; 
    left: 0; 
    right: 0; 
    font-size: 30px;
    margin: 0; 
    margin-top: 10px;
    margin-left: -80px;
    background-color: transparent; 
    padding: 25px 150px 25px;
    color:#125a61; 
}

.content h4 {
    position: absolute; 
    z-index: 1;
    top: 0; 
    left: 0; 
    right: 0; 
    font-size: 20px;
    margin: 0; 
    margin-top: 65px;
    margin-left: -80px;
    background-color: transparent; 
    padding: 25px 150px 25px;
    color:#125a61; 
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 10px;
}

.top-bar img{
    z-index: 1;
    position: absolute; 
    top: 15px; 
    width: 60px;
    height: 60px;
    top: 20px;
    right: 50px;border-radius: 50px;
    background-color: #4a6a78;
    border-color: transparent;
}
.contentBody {
    margin-left: 30px;
    padding: 20px;
}


.top-bar button {
    background-color: #6c6c6c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: -20px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #7baa9f;
}

th,
td {
    padding: 15px;
    text-align: center;
    font-size: 17px;
}

th {
    background-color: #ccdada;
    color: #125a61;

}

td {
    background-color: #ffffff;
}

.actions a.update-button {
    background-color: #28a745; 
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    display: inline-block; 
}

.actions a.update-button:hover {
    background-color: #218838; 
}

.calendar-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px; 
    padding: 15px; 
    border-radius: 2px; 
}

.calendar-bar form {
    margin-top: 50px; 
    display: flex; 
    gap: 10px; 
}

.calendar-bar select {
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-size: 18px; 
    color: #333; 
    width: 200px;
    height: 50px;
    margin-left: -15px;
    background-color: #fff; 
    transition: border-color 0.3s; 
}

.print-button button {
    margin-top: 50px; 
    position: absolute;
    top: 126px;
    right: 40px;
    background-color: #2b92b8;  
    color: white;               
    border: none;              
    padding: 15px 20px;       
    border-radius: 4px;       
    cursor: pointer;          
    font-size: 16px;            
    transition: background-color 0.3s;  
}

.print-button button:hover {
    background-color: #257e9e;  
}


table {
    margin-top: 20px; 
}


.calendar-bar input[type="date"] {
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px; 
    margin-top: 15px;
}

.calendar-bar button {
    background-color: #28a745; 
    color: white; 
    border: none;
    padding: 10px 15px; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s; 
}

.calendar-bar button:hover {
    background-color: #218838; 
}

.calendar-bar-button button {
    background-color: #28a745; 
    color: white; 
    border: none;
    padding: 10px 15px; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s; 
}

.calendar-bar-button button:hover {
    background-color: #218838; 
}

.backpayroll{
    position: absolute;
    right: 180px;
    margin-top: -80px;
    background-color: #c0302e; 
    color: white; 
    border: none;
    padding: 15.1px 15px; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s; 
}


