@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

.sidebar {
    width: 300px;
    height: 96.5vh;
    background-color: #2eae99;
    z-index: 2;
    color: white;
    position: fixed;
    padding-top: 20px;
    border-radius: 20px 20px 20px 20px; 
    margin-top: 5px;
    margin-left: 10px;
}


.sidebar img {
    display: block;
    margin-top: auto;
    margin-left: 30px;
    margin-bottom: -10px;
    align-items: center;
    width: 250px;
    height: 120px;
}

.sidebar h2 {
    color:#ffffff;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sidebar p {
    margin-left: 35px;
    color: #b6dddd;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-left: 35px;
    padding: 11px;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
}

.sidebar ul li:hover{
    text-decoration: none;
    color: rgb(67, 140, 146);
}


.sidebar ul li a {
    color: rgb(255, 255, 255); 
    text-decoration: none; 

}

.sidebar ul li:hover a {
    color: #08323d;
    font-weight: bold; 
}


.sidebar ul li i {
    margin-right: 10px;
}



.sidebar .logout-link{
    font-size: 20px;
    color: #08323d; 
    text-decoration: none; 
    font-weight: bold; 
}

.sidebar .logout-link:hover {
    color: rgb(255, 255, 255);
    font-weight: bold; 
}