@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}


body {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    background-size: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('../img/lourdscafeBGW.png');
    background-repeat: no-repeat;
    margin-top: 240px;
}

.left-side {
    position: absolute;
    margin-left: -450px;
    margin-top: auto;
    width: 700px;
}

.logo-left {
    max-width: 80%;
    border-radius: 100%;
}


.login-box {
    background-color: rgb(163, 163, 163);
    padding: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 400px;
}


.loginForm {
    background-color: #e3e7eb;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*text-align: center;*/
    width: 500px;
    height: 490px;
    margin-left: 700px;
}

.loginForm h2 {
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 28px;
    text-align: center;
}

.forgot-password {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
}

.forgot-password a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.contentBody label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 5px;
    text-align: left;
}

.contentBody input[type="text"],
.contentBody input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.contentBody input[type="text"]:focus,
.contentBody input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3); 
}

.contentBody input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contentBody input[type="submit"]:hover {
    background-color: #0056b3;
}

.contentBody input::placeholder {
    font-size: 13px;
    color: #999999;
}

