* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.dashboard-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: 400px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.schedule{
    margin: 50px 0;

}

.time-management{
    margin: 20px 0;
}

h3 {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    color: #555;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.buttonsManagement {
    margin-top: 60px;
    text-decoration: none;
}

.buttonsManagement button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
}

.buttonsManagement button:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.button-link {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
    width: 100%;
}

.button-link:hover {
    background-color: #0056b3;
    text-decoration: none;
}

