.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ff5c5c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #e04e4e;
}